{% extends 'base.html' %}
{% load i18n %}
{% load cms_tags %}

{% block title %}Archive{% endblock title %}

<!-- OPENGRAPH TAGS -->
{% block ogtags %}
<meta property="og:title" content="{% page_attribute 'page_title' %} | Diera do sveta" />
<meta property="og:url" content="{{ request.current_page.get_absolute_url }}" />
<meta property="og:description" content="{% translate 'Monthly programming of the CC Diera do sveta.' %}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://www.dieradosveta.sk/static/images/logo.jpg" />
{% endblock ogtags %}

{% block css %}
{% load static %}
<link href="{% static 'archive.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="archive-container" class="container h-100" x-data="{ nav: true, activeCategory: 'fotky', searchInputIsEmpty: true }">
  {% include "archive/partials/_archive-nav.html" %}
  <div id="archive-content" class="mt-1">

    <div id="init-load-indicator" class="row gx-1">
      <div class="p2 col-md-4 col-12">
        <div class="static"></div>
      </div>
      <div class="p2 col-md-4 col-12">
        <div class="static"></div>
      </div>
      <div class="p2 col-md-4 col-12">
        <div class="static"></div>
      </div>
    </div>

    {% include "archive/partials/_photo-archive.html" %}
  </div>
</div>
{% endblock %}
