{% load static %}
{% load cms_tags %}
{% load custom_tags %}


<div class="col-md-6">
  <section id="opening-hours" class="p-1">
    <header>
      <h2 class="display-3 lh-1 card-title pt-4 pb-4">Otváracie hodiny</h2>
    </header>
    <div id="hours-container">
      <div class="fs-3 fw-bold lh-1">{% placeholder "opening-hours" %}</div>
    </div>
  </section>
</div>

<div class="col-md-6">
    <section id="news-letter-teaser" class="p-1">
      <header>
        <h2 class="display-3 lh-1 card-title pt-4 pb-4">Odoberaj newsletter</h2>
      </header>
      <div id="nl-link-container" class="position-relative">
        <a class="fs-3 position-absolute top-50 start-50 translate-middle" href="{{ teaser.url }}">klik!</a>
      </div>
    </section>
</div>

