{% load cms_tags menu_tags %}
{% load i18n %}
{% load thumbnail %}

<a class="hp-teaser" href="{{ teaser.url }}">
  <article class="hp-teaser-content p-2">
    <div class="teaser-img-container">
      {% if teaser.image %}  <!-- Checking if the extension was set -->
      {% thumbnail teaser.image 600x400 crop upscale as teaser_image %}
      <img class="wide-display" src="{{ teaser_image.url }}" />
      {% thumbnail teaser.image 600x300 crop upscale as teaser_image_small %}
      <img class="d-none small-display mb-2" src="{{ teaser_image_small.url }}" />
      {% endif %}
    </div>

    <div class="teaser-body-container fs-3">
      <header class="pb-3">
        <h2 class="display-3 lh-1">{{ teaser.title|upper }}</h2>
      </header>
      {% show_placeholder "perex" teaser.page_id %}
    </div>

    <!-- TEASER FOOTER (FOR EVENTS ONLY) -->
    {% if teaser.from %}
    <footer>
      <div class="row schedule">
        <div class="col fs-3 day" style="text-align:left;">
          {{ teaser.from|date:"j.n." }}
        </div>
        <div class="col fs-3 time" style="text-align:right;">
          {{ teaser.from|date:"H:i" }}
        </div>
      </div>
    </footer>
    {% endif %}


  </article>
</a>
