{% load cms_tags menu_tags %}
{% load i18n %}
{% load thumbnail %}

<a class="hp-teaser" href="{{ teaser.url }}">
<div class="card p-2">
  <div class="row g-0">
    <div class="col-md-6">
      {% if teaser.image %}  <!-- Checking if the extension was set -->
      {% thumbnail teaser.image 600x600 crop upscale as teaser_image %}
        <img src="{{ teaser_image.url }}" />
      {% endif %}
    </div>
    <div class="col-md-6 teaser-text-container">
      <div class="card-body">
        <h1 class="display-1 lh-1 card-title">{{ teaser.title|upper }}</h1>
      </div>

      <!-- TEASER FOOTER (FOR EVENTS ONLY) -->
      <div class="card-footer">

        <div class="card-text {% if not teaser.from %}article-teaser-perex{% endif %}">
          {% show_placeholder "perex" teaser.page_id %}
        </div>

        {% if teaser.from %}
        <div class="row schedule">
          <div class="col fs-2 day" style="text-align:left;">
            {{ teaser.from|date:"j.n." }}
          </div>
          <div class="col fs-2 time" style="text-align:right;">
            {{ teaser.from|date:"H:i" }}
          </div>
        </div>
        {% endif %}
      </div>

    </div>
  </div>
</div>
</a>

