{% extends "photologue/root.html" %}
{% load i18n %}
{% load custom_tags %}

{% block css %}
{% load static %}
<link href="{% static 'galleries.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}{% trans "Latest photo galleries" %}{% endblock %}

{% block content %}
<div style="padding-left: 15px; padding-right: 15px;">
    <div id="galleries" class="container">

        <!-- Navigation -->
        <div class="row">
            <div id="gallery-nav" class="col-12" style="padding-right:2px;padding-left:2px;">
                <div id="archives">
                    <div class="row justify-content-center">

                        <div class="col-auto" style="">
                            <a class="active" href="{% url 'photologue:pl-gallery-archive' %}">{% translate "LATEST" %}</a>
                        </div>

 			                  {% for date in date_list %}
                        <div class="col-auto" style="">
                            <a href="{% url 'photologue:pl-gallery-archive-year' date.year %}">{{ date|date:"Y" }}</a>
                        </div>
			                  {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        <!-- Galleries -->
        <div class="row">
			      {% if latest %}
			      {% for gallery in latest %}

            {% if forloop.last and not forloop.counter|divisibleby:"2" %}
            <div class="col-12" style="padding-right:2px;padding-left:2px;">
                {% gallery_slider gallery %}
            </div>
            {% else %}
            <div class="col-lg-6" style="padding-right:2px;padding-left:2px;">
                {% gallery_slider gallery %}
            </div>
            {% endif %}

			      {% endfor %}
			      {% else %}
			      <p>{% trans "No galleries were found" %}.</p>
			      {% endif %}
        </div>
    </div>
</div>
{% endblock %}
