{% extends "photologue/root.html" %}
{% load i18n %}
{% load custom_tags %}

{% block css %}
{% load static %}
<link href="{% static 'galleries.css' %}" rel="stylesheet">
{% endblock %}


{% block title %}{% blocktrans with show_year=year|date:"Y" %}Galleries for {{ show_year }}{% endblocktrans %}{% endblock %}

{% block content %}

<div style="padding-left: 15px; padding-right: 15px;">
    <div id="galleries" class="container">

        <div class="row">
            <div id="gallery-nav" class="col-12" style="padding-right:2px;padding-left:2px;">
                <div id="archives">
                    <div class="row">
                        <div class="col-auto" style="padding-left:30px;">
                            <a href="{% url 'photologue:pl-gallery-archive' %}">{% trans "Latest galleries" %}</a>
                        </div>
                        <div class="col" style="text-align:right;padding-right:30px;">
                            {% blocktrans with show_year=year|date:"Y" %}{{ show_year }}{% endblocktrans %}
                        </div>
                    </div>
                </div>
            </div>

		        {% if object_list %}
		        {% for gallery in object_list %}
            <div class="col-lg-6" style="padding-right:2px;padding-left:2px;">
                {% gallery_slider gallery %}
            </div>
		        {% endfor %}
		        {% else %}
		        <p>{% trans "No galleries were found." %}</p>
		        {% endif %}
        </div>
    </div>
</div>

{% endblock %}

