{% extends "photologue/root.html" %}
{% load i18n %}
{% load custom_tags %}

{% block css %}
{% load static %}
<link href="{% static 'galleries.css' %}" rel="stylesheet">
{% endblock %}


{% block title %}{% blocktrans with show_year=year|date:"Y" %}Galleries for {{ show_year }}{% endblocktrans %}{{ block.super }}{% endblock %}

{% block ogtags %}
<meta property="og:title" content="{% page_attribute 'page_title' %} | Diera do sveta" />
<meta property="og:url" content="{{ request.current_page.get_absolute_url }}" />
<meta property="og:description" content="{% translate 'Our photo galleries.' %}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://www.dieradosveta.sk/static/images/logo.jpg" />
{% endblock ogtags %}

{% block content %}

<div id="galleries">

    <!-- Navigation -->
    <div id="gallery-nav">

               <div class="row justify-content-center">

                        <div class="col-auto year-link-container" style="">
                            <a class="" href="{% url 'photologue:pli-gallery-archive' %}">{% translate "LATEST" %}</a>
                        </div>

                        {% get_years_with_galleries_added as archive_years %}

                        {% for archive_year in archive_years %}
                        {% if year|date:"Y" == archive_year %}
                        <div class="col-auto year-link-container active" style="">
                            <a href="{% url 'photologue:pli-gallery-year-archive' archive_year %}">{{ archive_year }}</a>
                        </div>
                        {% else %}
                        <div class="col-auto year-link-container" style="">
                            <a href="{% url 'photologue:pli-gallery-year-archive' archive_year %}">{{ archive_year }}</a>
                        </div>
                        {% endif %}
                        {% endfor %}

               </div>

    </div>

    <!-- Galleries -->
    <div class="masonry-grid">

        <div class="grid-sizer"></div>

		    {% if object_list %}
		    {% for gallery in object_list %}

        {% if forloop.first and object_list|length == 1 %}
        <div class="grid-item full-width-gallery">
            {% gallery_slider gallery %}
        </div>
        {% else %}
        <div class="grid-item" style="">
            {% gallery_slider gallery %}
        </div>
        {% endif %}

		    {% endfor %}
		    {% else %}
		    <p>{% trans "No galleries were found." %}</p>
		    {% endif %}

    </div>
</div>

{% endblock %}

{% block js %}
<script>
 /* Initialize masonry grid */
 var $grid = $('.masonry-grid').masonry({
     itemSelector: '.grid-item',
     percentPosition: true,
     /* isFitWidth: true, */
     /* gutter: 4 */
 });

 /* Image loading bugfix for masonry */
 $grid.imagesLoaded().progress(
     function() {
         $grid.masonry();
 });
</script>
{% endblock js %}


