{% extends "photologue/root.html" %}
{% load i18n %}
{% load custom_tags %}

{% block css %}
{% load static %}
<link href="{% static 'galleries.css' %}" rel="stylesheet">

<!-- Colcade JS for teasers masonry grid -->
<script src="https://unpkg.com/colcade@0/colcade.js"></script>

<!-- Styles for Colcade masonry grid -->
<style>
 /* Using floats */
 .grid-col {
     float: left;
     width: 100%;
 }

 .grid-item {
     padding: 2px;
 }

 /* 1 columns by default, hide the second column */
 .grid-col--2 { display: none; }

 /* 2 columns at large size */
 @media ( min-width: 1200px ) {
     .grid-col { width: 50%; }
     .grid-col--2 { display: block; } /* show column 2 */
 }
</style>
{% endblock %}


{% block title %}{% blocktrans with show_year=year|date:"Y" %}Galleries for {{ show_year }}{% endblocktrans %}{{ block.super }}{% endblock %}

{% block ogtags %}
<meta property="og:url" content="{{ request.current_page.get_absolute_url }}" />
<meta property="og:description" content="{% translate 'Our photo galleries.' %}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://www.dieradosveta.sk/static/images/logo.jpg" />
{% endblock ogtags %}

{% block content %}

<div id="galleries">

    <!-- Navigation -->
    <div id="gallery-nav">

               <div class="row justify-content-center">

                        <div class="col-auto year-link-container" style="">
                            <a class="" href="{% url 'photologue:pli-gallery-archive' %}">{% translate "LATEST" %}</a>
                        </div>

                        {% get_years_with_galleries_added as archive_years %}

                        {% for archive_year in archive_years %}
                        {% if year|date:"Y" == archive_year %}
                        <div class="col-auto year-link-container active" style="">
                            <a href="{% url 'photologue:pli-gallery-year-archive' archive_year %}">{{ archive_year }}</a>
                        </div>
                        {% else %}
                        <div class="col-auto year-link-container" style="">
                            <a href="{% url 'photologue:pli-gallery-year-archive' archive_year %}">{{ archive_year }}</a>
                        </div>
                        {% endif %}
                        {% endfor %}

               </div>

    </div>

    {% if object_list %}

    <div class="grid">

        <!-- columns -->
        <div class="grid-col grid-col--1"></div>
        <div class="grid-col grid-col--2"></div>

        <!-- galleries -->
        {% for gallery in object_list %}
        <div class="grid-item">
            {% gallery_slider gallery %}
        </div>
        {% endfor %}

    </div>

    {% endif %}

</div>
<script>
 // element as first argument
 var grid = document.querySelector('.grid');
 var colc = new Colcade( grid, {
     columns: '.grid-col',
     items: '.grid-item'
 });

 // selector string as first argument
 var colc = new Colcade( '.grid', {
     columns: '.grid-col',
     items: '.grid-item'
 });
</script>
{% endblock %}

{% block js %}
{% endblock js %}


