{% extends "photologue/root.html" %}
{% load i18n %}
{% load custom_tags %}

{% block css %}
{% load static %}
<link href="{% static 'galleries.css' %}" rel="stylesheet">
{% endblock %}


{% block title %}{% blocktrans with show_year=year|date:"Y" %}Galleries for {{ show_year }}{% endblocktrans %}{{ block.super }}{% endblock %}

{% block content %}

<div style="padding-left: 15px; padding-right: 15px;">
    <div id="galleries" class="container">

        <!-- Navigation -->
        <div class="row">
            <div id="gallery-nav" class="col-12" style="padding-right:2px;padding-left:2px;">
                <div id="archives">
                    <div class="row justify-content-center">

                        <div class="col-auto year-link-container" style="">
                            <a class="" href="{% url 'photologue:pli-gallery-archive' %}">{% translate "LATEST" %}</a>
                        </div>

                        {% get_years_with_galleries_added as archive_years %}

                        {% for archive_year in archive_years %}
                        {% if year|date:"Y" == archive_year %}
                        <div class="col-auto year-link-container active" style="">
                            <a href="{% url 'photologue:pli-gallery-year-archive' archive_year %}">{{ archive_year }}</a>
                        </div>
                        {% else %}
                        <div class="col-auto year-link-container" style="">
                            <a href="{% url 'photologue:pli-gallery-year-archive' archive_year %}">{{ archive_year }}</a>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        <!-- Galleries -->
        <div class="row">
		        {% if object_list %}
		        {% for gallery in object_list %}

            {% if forloop.first and not object_list|length|divisibleby:"2" %}
            <div class="col-12" style="padding-right:2px;padding-left:2px;">
                {% gallery_slider gallery %}
            </div>
            {% else %}
            <div class="col-lg-6" style="padding-right:2px;padding-left:2px;">
                {% gallery_slider gallery %}
            </div>
            {% endif %}

		        {% endfor %}
		        {% else %}
		        <p>{% trans "No galleries were found." %}</p>
		        {% endif %}
        </div>

    </div>
</div>

{% endblock %}

