{% extends "photologue/root.html" %}
{% load i18n %}
{% load custom_tags %}

{% block css %}
{% load static %}
<link href="{% static 'galleries.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}{% trans "Latest photo galleries" %}{{ block.super }}{% endblock %}

{% block content %}

<div id="galleries" class="">

    <!-- Navigation -->
    <div id="gallery-nav" class="" style="">
        <div class="row justify-content-center">

            <!-- Link for the archive of recently added galleries -->
            <div class="col-auto year-link-container active">
                <a class="active" href="{% url 'photologue:pli-gallery-archive' %}">{% translate "LATEST" %}</a>
            </div>

            <!-- Links for the yearly archives -->
            {% get_years_with_galleries_added as years %}
            {% for year in years %}
            <div class="col-auto year-link-container">
                <a href="{% url 'photologue:pli-gallery-year-archive' year %}">{{ year }}</a>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="masonry-grid">

        <div class="grid-sizer"></div>


        <!-- Galleries -->
        {% if latest %}

        {% for gallery in latest %}

        {% if forloop.first and not latest|length|divisibleby:"2" %}
        <div class="grid-item ml-1 mr-1 full-width-gallery-slider" style="">
            {% gallery_slider gallery %}
        </div>
        {% else %}
        <div class="grid-item half-width-gallery-slider" style="">
            {% gallery_slider gallery %}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}


    </div>
</div>
{% endblock %}

{% block js %}
<script>
 /* Initialize masonry grid */
 var $grid = $('.masonry-grid').masonry({
     itemSelector: '.grid-item',
     /* percentPosition: true, */
     isFitWidth: true,
     gutter: 4
 });

 /* Image loading bugfix for masonry */
 $grid.imagesLoaded().progress(
     function() {
         $grid.masonry();
 });
</script>
{% endblock js %}
