{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% load custom_tags %}
{% load thumbnail %}
{% load i18n %}

{% block title %}{% page_attribute "page_title" %}{{ block.super }}{% endblock title %}

<!-- OPENGRAPH TAGS -->
{% block ogtags %}
<meta property="og:title" content="{% page_attribute 'page_title' %} | Diera do sveta" />
<meta property="og:url" content="{{ request.current_page.get_absolute_url }}" />
<!-- <meta property="og:description" content="{% placeholder 'perex'  %}" /> -->
<meta property="og:type" content="article" />

{% with image=request.current_page.imageextension.image %}
{% if image %}
{% thumbnail image 1200x630 crop upscale as cropped_image %}
<meta property="og:image" content="{{ cropped_image.url }}" />
{% endif %}
{% endwith %}

{% endblock ogtags %}  <!-- END OGTAGS -->

<!-- CSS (event specific rules) -->
{% block css %}
{% load static %}
<link href="{% static 'event.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="event" class="card p-2">
  <div class="row g-0">
    <div class="col">

      {% with image=request.current_page.imageextension.image %}
      {% if image %}
      {% thumbnail image 1200x600 crop upscale as cropped_image %}
      <img class="w-100" src="{{ cropped_image.url }}">
      {% endif %}
      {% endwith %}

    </div>
  </div>

  <div class="row">
    <div class="col">
      {% with event_date=request.current_page.eventdataextension.date_from %}
      <div class="row schedule" style="border-bottom: 2px solid black;border-top:none;">
        <div class="col pl-0 fs-2 day" style="text-align:left;">
          {{ event_date|date:"j.n." }}
        </div>
        <div class="col pr-0 fs-2 time" style="text-align:right;">
          {{ event_date|date:"H:i" }}
        </div>
      </div>
      {% endwith %}
    </div>
  </div>

  <div class="row">

    <div class="col teaser-text-container">
      <div class="card-body h-100 p-0 pt-3">
        <h1 class="display-2 lh-1 card-title">{% page_attribute "title" %}</h1>
      </div>
    </div>
  </div>

  <row class="row">

    <div class="col">

      <!-- TEASER FOOTER (FOR EVENTS ONLY) -->
      <div class="card-footer p-0" style="background-color: white; border-top: none;">

        <div class="fs-3 card-text pt-1" style="max-height:none;">
	        {% placeholder "body" %}
        </div>
      </div>
    </div>
  </row>

  </div>

</div>

{% endblock content %}
