{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% load custom_tags %}
{% load thumbnail %}
{% load i18n %}

{% block title %}{% page_attribute "page_title" %}{{ block.super }}{% endblock title %}

<!-- OPENGRAPH TAGS -->
{% block ogtags %}
<meta property="og:title" content="{% page_attribute 'page_title' %} | Diera do sveta" />
<meta property="og:url" content="{{ request.current_page.get_absolute_url }}" />
<!-- <meta property="og:description" content="{% placeholder 'perex'  %}" /> -->
<meta property="og:type" content="article" />

{% with image=request.current_page.imageextension.image %}
{% if image %}
{% thumbnail image 1200x630 crop upscale as cropped_image %}
<meta property="og:image" content="{{ cropped_image.url }}" />
{% endif %}
{% endwith %}

{% endblock ogtags %}  <!-- END OGTAGS -->

<!-- CSS (event specific rules) -->
{% block css %}
{% load static %}
<link href="{% static 'event.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- <div style="padding-left: 15px; padding-right: 15px;"> -->
    <div id="event" class="">

        <div id="hero" style="position:relative">
            <!-- FB EVENT LINK -->
            <div id="fb-event-link">
                <i class="fab fa-facebook-f">
                    {% placeholder "Facebook event link" %}
                </i>
            </div>

            <!-- TEASER IMAGE -->
            {% with image=request.current_page.imageextension.image %}
            {% if image %}
            {% thumbnail image 1200x600 crop upscale as cropped_image %}
            <img id="hero-image" src="{{ cropped_image.url }}">
            {% endif %}
            {% endwith %}
        </div>

        <!-- EVENT SCHEDULING -->
        {% with event_date=request.current_page.eventdataextension.date_from %}
        <div id="event-date" class="row">
            <div class="col pl-0" style="text-align:left;">
                {{ event_date|date:"j.n." }}
            </div>
            <div class="col pr-0" style="text-align:right;">
                {{ event_date|date:"H:i" }}
            </div>
        </div>
        {% endwith %}

        <!-- EVENT TITLE -->
        <div id="event-title">
            {% page_attribute "title" %}
        </div>

        <!-- EVENT BODY -->
        <div id="event-body">
            <div style="display:none">
                {% placeholder "genre" %}
                {% placeholder "perex" %}
            </div>
	          {% placeholder "body" %}
        </div>

    </div>
    <!-- </div> -->
{% endblock content %}
