{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% load thumbnail %}

{% block title %}{% page_attribute "page_title" %}{{ block.super }}{% endblock title %}

<!-- OPENGRAPH TAGS -->
{% block ogtags %}
<meta property="og:title" content="{% page_attribute 'page_title' %} | Diera do sveta" />
<meta property="og:url" content="{{ request.current_page.get_absolute_url }}" />
<!-- <meta property="og:description" content="{% placeholder 'perex'  %}" /> -->
<meta property="og:type" content="article" />

{% with image=request.current_page.imageextension.image %}
{% if image %}
{% thumbnail image 1200x630 crop upscale as cropped_image %}
<meta property="og:image" content="{{ cropped_image.url }}" />
{% endif %}
{% endwith %}

{% endblock ogtags %}  <!-- END OGTAGS -->

<!-- CSS (featured article specific rules) -->
{% block css %}
{% load static %}
<link href="{% static 'featured_article.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="featured-article" class="card p-2">
  <div class="row g-0">
    <div class="col">

        <!-- TEASER IMAGE -->
        {% with image=request.current_page.imageextension.image %}
        {% if image %}
        {% thumbnail image 1200x600 crop upscale as cropped_image %}
        <img id="hero-image" src="{{ cropped_image.url }}">
        {% endif %}
        {% endwith %}

    </div>
  </div>

  <div class="row">
    <!-- ARTICLE TITLE -->
    <div id="featured-article-title">
      <h1 class="display-2 lh-1 card-title">{% page_attribute "title" %}</h1>
    </div>
  </div>
  <div class="row">
        <!-- ARTICLE BODY (CMS PLACEHOLDERS) -->
        <div id="featured-article-body">
            <div style="display:none;">
                 {% placeholder "perex" %}
            </div>
            <div class="fs-3 card-text pt-1">
	            {% placeholder "body" %}
            </div>
        </div>

    </div>
</div>

{% endblock content %}
