{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% load custom_tags %}
{% load thumbnail %}

{% block title %}{% page_attribute "page_title" %}{{ block.super }}{% endblock title %}

<!-- OPENGRAPH TAGS -->
{% block ogtags %}
<meta property="og:title" content="{% page_attribute 'page_title' %} | Diera do sveta" />
<meta property="og:url" content="{{ request.current_page.get_absolute_url }}" />
<meta property="og:description" content="{% placeholder 'perex'  %}" />
<meta property="og:type" content="article" />

{% with image=request.current_page.imageextension.image %}
{% if image %}
{% thumbnail image 1200x630 crop upscale as cropped_image %}
<meta property="og:image" content="{{ cropped_image.url }}" />
{% endif %}
{% endwith %}

{% endblock ogtags %}  <!-- END OGTAGS -->

<!-- CSS (festival specific rules) -->
{% block css %}
{% load static %}
<link href="{% static 'festival.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="festival">

        <!-- TEASER IMAGE -->
        {% with image=request.current_page.imageextension.image %}
        {% if image %}
        {% thumbnail image 1200x600 crop upscale as cropped_image %}
        <img id="hero-image" src="{{ cropped_image.url }}">
        {% endif %}
        {% endwith %}

        <!-- FESTIVAL TITLE -->
        <div id="festival-title">
            {% page_attribute "title" %}
        </div>

        <!-- FESTIVAL BODY -->
        <div id="festival-body">
            <div style="display:none">
                {% placeholder "perex" %}
            </div>
	          {% placeholder "body" %}
        </div>

    </div>
{% endblock content %}

