{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% load custom_tags %}
{% load i18n %}
{% load thumbnail %}

{% block title %}{% page_attribute "page_title" %}{{ block.super }}{% endblock title %}

<!-- OPENGRAPH TAGS -->
{% block ogtags %}
<meta property="og:title" content="{% page_attribute 'page_title' %} | Diera do sveta" />
<meta property="og:url" content="{{ request.current_page.get_absolute_url }}" />
<meta property="og:description" content="{% translate 'Festivals organized by the cultural center Diera do sveta.' %}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://www.dieradosveta.sk/static/images/logo.jpg" />
{% endblock ogtags %}

<!-- CSS rules specific for this page -->
{% block css %}
{% load static %}
<link href="{% static 'festivals.css' %}" rel="stylesheet">

<!-- Colcade JS for teasers masonry grid -->
<script src="https://unpkg.com/colcade@0/colcade.js"></script>

<!-- Styles for Colcade masonry grid -->
<style>
 /* Using floats */
 .grid-col {
     float: left;
     width: 100%;
 }

 .grid-item {
     padding: 2px;
 }

 /* 1 columns by default, hide the second column */
 .grid-col--2 { display: none; }

 /* 2 columns at large size */
 @media ( min-width: 1200px ) {
     .grid-col { width: 50%; }
     .grid-col--2 { display: block; } /* show column 2 */
 }
</style>
{% endblock %}

{% block content %}

<!-- Section showing the teasers for festivals -->

<div id="festivals">

    {% get_festival_teasers request as festival_teasers %}

    <div class="grid">

        <!-- columns -->
        <div class="grid-col grid-col--1"></div>
        <div class="grid-col grid-col--2"></div>

        <!-- teasers -->
        {% for teaser in festival_teasers %}
        <div class="grid-item">
            <div class="card featured-teaser">

                <!-- TEASER IMAGE -->
                {% if teaser.image %}  <!-- Checking if the extension was set -->
                {% thumbnail teaser.image 600x300 crop upscale as teaser_image %}
                <a href="{{ teaser.url }}">
                    <img src="{{ teaser_image.url }}" />
                </a>
                {% endif %}

                <!-- TEASER BODY -->
                <div class="card-body">
                    <div class="featured-teaser-title">
                        <a href="{{ teaser.url }}">
                            {{ teaser.title|upper }}
                        </a>
                    </div>
                    <div class="featured-teaser-text">
                        {% show_placeholder "perex" teaser.page_id %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
<script>
 // element as first argument
 var grid = document.querySelector('.grid');
 var colc = new Colcade( grid, {
     columns: '.grid-col',
     items: '.grid-item'
 });

 // selector string as first argument
 var colc = new Colcade( '.grid', {
     columns: '.grid-col',
     items: '.grid-item'
 });
</script>
{% endblock content %}

{% block js %}
{% endblock js %}
