{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% load custom_tags %}
{% load i18n %}
{% load thumbnail %}

<!-- CUSTOM TAGS LOAD -->
{% load custom_tags %}

{% block title %}{% page_attribute "page_title" %}{{ block.super }}{% endblock title %}

<!-- CSS (home specific rules) -->
{% block css %}
{% load static %}
<link href="{% static 'home.css' %}" rel="stylesheet">

<!-- Colcade JS for teasers masonry grid -->
<script src="https://unpkg.com/colcade@0/colcade.js"></script>

<!-- Styles for Colcade masonry grid -->
<style>
 /* Using floats */
 .grid-col {
     float: left;
     width: 100%;
 }

 .grid-item {
     padding: 2px;
 }

 /* 1 columns by default, hide the second column */
 .grid-col--2 { display: none; }

 /* 2 columns at large size */
 @media ( min-width: 1200px ) {
     .grid-col { width: 50%; }
     .grid-col--2 { display: block; } /* show column 2 */
 }
</style>
{% endblock %}

<!-- HOMEPAGE CONTENT -->
{% block content %}

{% include "partials/_marquee.html" %}

<!-- Teasers for featured events and articles -->
<div id="featured">

  {% get_teasers_for_all_features request as teasers %}

  <div class="row gx-2 gy-2">
    <!-- teasers -->
    {% for teaser in teasers %}
    {% if not forloop.last %}
    <div class="col-12">
      {% include "partials/_teaser.html" %}
    </div>
    {% else %}
    {% include "partials/_static-teasers.html" %}
    {% endif %}
    {% endfor %}
  </div>

</div>
{% endblock content %}

{% block js %}
{% endblock js %}

