{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% load i18n %}
{% load thumbnail %}

<!-- CUSTOM TAGS LOAD -->
{% load custom_tags %}

{% block title %}{% page_attribute "page_title" %}{{ block.super }}{% endblock title %}

<!-- CSS (home specific rules) -->
{% block css %}
{% load static %}
<link href="{% static 'home.css' %}" rel="stylesheet">

<!-- Colcade JS for teasers masonry grid -->
<script src="https://unpkg.com/colcade@0/colcade.js"></script>

<!-- Styles for Colcade masonry grid -->
<style>
 /* Using floats */
 .grid-col {
     float: left;
     width: 100%;
 }

 .grid-item {
     padding: 2px;
 }

 /* 1 columns by default, hide the second column */
 .grid-col--2 { display: none; }

 /* 2 columns at large size */
 @media ( min-width: 1200px ) {
     .grid-col { width: 50%; }
     .grid-col--2 { display: block; } /* show column 2 */
 }
</style>
{% endblock %}

<!-- HOMEPAGE CONTENT -->
{% block content %}

<!-- Teasers for featured events and articles -->
<div id="featured">

    {% get_teasers_for_all_features request as teasers %}

    <div class="grid">

        <!-- columns -->
        <div class="grid-col grid-col--1"></div>
        <div class="grid-col grid-col--2"></div>

        <!-- teasers -->
        {% for teaser in teasers %}
        <div class="grid-item">
            <div class="card ">

                <!-- TEASER IMAGE -->
                {% if teaser.image %}  <!-- Checking if the extension was set -->
                {% thumbnail teaser.image 600x300 crop upscale as teaser_image %}
                <a href="{{ teaser.url }}">
                    <img src="{{ teaser_image.url }}" />
                </a>
                {% endif %}

                <!-- TEASER BODY -->
                <div class="card-body">
                    <div class="featured-teaser-title">
                        <a href="{{ teaser.url }}">
                          <h1 class="fs-1 lh-1">{{ teaser.title|upper }}</h1>
                        </a>
                    </div>
                    <div class="featured-teaser-text fs-4">
                        {% show_placeholder "perex" teaser.page_id %}
                    </div>
                </div>

                <!-- TEASER FOOTER (FOR EVENTS ONLY) -->
                {% if teaser.from %}
                <div class="card-footer">
                    <div class="row">
                        <div class="col fs-3" style="text-align:left;">
                            {{ teaser.from|date:"j.n." }}
                        </div>
                        <div class="col fs-3" style="text-align:right;">
                            {{ teaser.from|date:"H:i" }}
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
        {% endfor %}

    </div>

</div>
<script>
     // element as first argument
     var grid = document.querySelector('.grid');
     var colc = new Colcade( grid, {
         columns: '.grid-col',
         items: '.grid-item'
     });

     // selector string as first argument
     var colc = new Colcade( '.grid', {
         columns: '.grid-col',
         items: '.grid-item'
     });
</script>
{% endblock content %}

{% block js %}
{% endblock js %}

