{% extends 'base.html' %}
{% load i18n %}
{% load calendar_tags %}
{% load cms_tags %}

{% block title %}Program ({{ month }}-{{ year }}){{ block.super }} {% endblock title %}

{% block background-image %}
    body {
        background-image: url('{% get_background_image_url_for_month year month %}');
    }
{% endblock background-image %}

{% block css %}
{% load static %}
<link href="{% static 'program.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="calendar">

    <!-- Events calendar -->
    {% calendar year month %}

</div>
{% endblock %}

{% block js %}
<script>

 /* Initialize all popovers */
 $(function () {
     $('.teaser-image').popover();
 })

 /* Initialize the masonry */
 var $grid = $('.masonry-grid').masonry({
     itemSelector: '.grid-item',
     percentPosition: true,
     /* isFitWidth: true, */
 });

 /* Image loading bugfix for masonry */
 $grid.imagesLoaded().progress(
     function() {
         $grid.masonry();
 });

</script>
{% endblock js %}



