#archive-container {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#archive-nav {
    border: 2px solid black;
}

#archive-nav .nav-item {
    background-color: white;
    text-transform: uppercase;
}

#archive-nav .nav-link {
    color: black;
}

#archive-nav .nav-link:hover {
    background-color: black;
    color: white;
    border-radius: 0px;
}

#archive-nav .nav-link.active {
    color: white;
    background-color: black;
    border-radius: 0px;
}

#archive-nav .nav-item:last-child {
    border: 1px solid white;
}

#archive-nav .nav-item:last-child:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

#archive-filter {
    background-color: white;
    text-transform: uppercase;
    border: 2px solid black;
    margin-left: initial;
    margin-right: initial;
}

#archive-content {
    margin-left: initial;
    margin-right: initial;
}

.gallery {
    border: 2px solid black;
}

/* RULES FOR PHOTO GALLERY */
.gallery-teaser {
    border: 2px solid black;
    background-color: white;
    text-transform: uppercase;
    line-height: 1;
}

.gallery-teaser img {
    border: 2px solid black;
}

.gallery-teaser .fs-1 {
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.gallery-teaser:hover {
    border: 2px solid white;
    background-color: black;
    color: white;
}

.gallery-teaser:hover img {
    border: 2px solid white;
}

.gallery-teaser:hover .fs-1 {
    color: black;
    text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -800px 0
    }
    100% {
        background-position: 800px 0
    }
}

.loading {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
    /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 53%, rgba(255,255,255,1) 100%); */
    background-size: 800px 104px;
    min-height: 400px;
    position: relative;
}

/* STYLES FOR PROGRAMMING ARCHIVE */
.event-teaser {
    text-decoration: none;
    color black !important;
}

.event-teaser .card {
    border-radius: 0px;
    border: 2px solid black;
    color: black;
}

.event-teaser:hover .card {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.event-teaser:hover .card-subtitle * {
}

.event-teaser:hover .card-footer {
    border-top: 2px solid white;
    background-color: black;
    color: white;
}

.event-teaser .card-img-top {
    border-radius: 0px;
}

.event-teaser .card-footer {
    background-color: white;
    border-top: 2px solid black;
    border-radius: 0px;
}

.event-teaser .card-title {
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    hyphens: auto;
}

.event-teaser:hover .card-title {
    color: black;
    text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
}

.event-teaser img {
    border: 2px solid white;
}

/* .event-teaser * { */
/*     transition: all 0.5s; */
/* } */

.event-teaser:hover img {
    border: 2px solid white;
}


/* STYLES FOR VIDEO ARCHIVE */
.youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    border: 2px solid black;
    background-color: white;
}

.youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* STYLES FOR AUDIO ARCHIVE */
.bandcamp-album-container {
}
/* .bandcamp-album-container { */
/*     position: relative; */
/*     overflow: hidden; */
/*     width: 100%; */
/*     border: 2px solid black; */
/*     background-color: white; */
/* } */

/* .bandcamp-album-container::after { */
/*     display: block; */
/*     content: ""; */
/*     padding-top: 56.25%; */
/* } */

.bandcamp-album-container iframe {
    background-color: white;
}
