#event {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
}

#event a {
    text-decoration: underline;
    transition-property: all;
    transition-duration: 0.2s;
    transition-delay: 0s;
    color: black;
}

#event a:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}

#hero-image {
    width: 100%;
    margin-bottom: 10px;
}

#event-date {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 2px solid black;
}

#event-title {
    font-size: 55px;
    line-height: 0.9;
    text-transform: uppercase;
    hyphens: none: !important;
    margin-bottom: 15px;
}

#event-body {
    font-size: 30px;
    line-height: 1.1;
}

@media screen and (max-width: 500px) {

    #event-title {
        font-size: 24px;
        line-height: 0.8;
        text-transform: uppercase;
        hyphens: none !important;
        margin-bottom: 8px;
    }

    #event-body * {
        font-size: 15px !important;
        line-height: 1;

    }

    #event-body h2 {
        font-size: 20px !important;
    }

    #event-body h3 {
        font-size: 17px !important;
    }

    #event-date {
        font-size: 15px;
        border-bottom: 1px solid black;
    }
}
