#featured-article {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    width: 60%;
    min-width: 1000px;
    /* max-width: 1200px; */
    margin-left: auto;
    margin-right: auto;
}

#hero-image {
    width: 100%;
    margin-bottom: 20px;
}

#featured-article-title {
    font-size: 55px;
    line-height: 0.9;
    text-transform: uppercase;
    hyphens: none !important;
    margin-bottom: 15px;
}

#featured-article-body {
    font-size: 30px;
    line-height: 1.1;
}

#featured-article-body a {
    text-decoration: underline;
    transition-property: all;
    transition-duration: 0.2s;
    transition-delay: 0s;
    color: black;
}

#featured-article-body a:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}

/* RESPONSIVE IFRAME FOR EMBEDDED VIDEO */
.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1199px) {
    #featured-article {
        min-width: 800px !important;
    }
}

@media screen and (max-width: 990px) {
    #featured-article {
        min-width: 0px !important;
    }

    #featured-article {
        width: 95%;
    }
}

@media screen and (max-width: 765px) {

    #featured-article-title {
        font-size: 24px;
        line-height: 0.9;
        text-transform: uppercase;
        hyphens: none !important;
        margin-bottom: 8px;
    }

    #featured-article-body * {
        font-size: 15px;
        line-height: 1;

    }

    #featured-article-body h2 {
        font-size: 20px !important;
    }

    #featured-article-body h3 {
        font-size: 17px !important;
    }
}
