<nav id="archive-nav" class="nav-fill">
  <ul class="nav nav-tabs">
    {% include "archive/partials/_archive-search.html" %}
    <li class="nav-item" x-show="nav">
      <span class="nav-link active fs-3" data-bs-toggle="tab" style="cursor:pointer" aria-current="page" hx-get="{% url 'archive:photos' 1 %}" hx-target=".swappable"  hx-swap="outerHTML" hx-indicator="#archive-content" x-on:click="console.log('Yup, I was clicked')">Fotky</span>
    </li>
    <li class="nav-item" x-show="nav">
      <span class="nav-link fs-3" data-bs-toggle="tab" style="cursor:pointer" aria-current="page" hx-get="{% url 'archive:programming' 1 %}" hx-target=".swappable" hx-swap="outerHTML" hx-indicator="#archive-content">Program</span>
    </li>
    <li class="nav-item" x-show="nav">
      <span class="nav-link fs-3" data-bs-toggle="tab" style="cursor:pointer" aria-current="page" hx-get="{% url 'archive:video' 1 %}" hx-target=".swappable" hx-swap="outerHTML" hx-swap="outerHTML" hx-indicator="#archive-content">Video</span>
    </li>
    <li class="nav-item" x-show="nav">
      <span class="nav-link fs-3" data-bs-toggle="tab" style="cursor:pointer" aria-current="page" hx-get="{% url 'archive:audio' 1 %}" hx-target=".swappable" hx-swap="outerHTML" hx-indicator="#archive-content">Audio </span>
    </li>
    <li class="nav-item position-relative" x-show="nav" style="cursor:pointer" x-on:click="nav = ! nav">
      <i class="position-absolute top-50 start-50 translate-middle fas fa-search fs-3"></i>
    </li>
  </ul>
</nav>
