<div id="photo-archive">
  {% if galleries %}
  <div class="row gy-3 gx-3">
    {% for gallery in galleries %}
    {% if gallery.public and gallery.is_public %}
    <div class="col-lg-4 col-md-3 col-12 feed">
      {% include "archive/partials/_photo-gallery.html" %}
    </div>
    {% endif %}
    {% endfor %}

    <!-- Infinite scroll -->
    {% if page_obj.has_next %}
    <div hx-target="this"
         hx-trigger="revealed"
         hx-swap="outerHTML"
         hx-select=".feed"
         hx-get="{% url 'archive:photos' page_obj.next_page_number %}"
         class="col-8 feed"
         style="border:2px solid black; background-color:white;">
      Načítavajú sa ďalšie galérie
    </div>

    {% endif %}
  </div>

  {% else %}
  There are no galleries
  {% endif %}
</div>

