<div id="photo-archive" class="swappable">
  {% if page_obj %}
  <div class="row gx-1 mt-1 mb-1 gallery-page">
    {% for gallery in page_obj %}
    <div class="col-md-6 col-12 gallery-container">
      {% include "archive/partials/teasers/_photo-gallery-teaser.html" %}
    </div>
    {% endfor %}

  </div>

  <!-- Inifinite scroll -->
  {% if page_obj.has_next %}
  <div id="inf-scroll-trigger"
       hx-target="this"
       hx-trigger="revealed"
       hx-swap="outerHTML"
       hx-select=".gallery-page, #inf-scroll-trigger"
       hx-get="{% url 'archive:photos' page_obj.next_page_number %}"
       hx-indicator="#inf-load-indicator"
       class="row gx-1 gy-1">
  </div>
  {% endif %}

  <!-- loading indicators -->
  <div id="inf-load-indicator" class="row mt-1 gx-1 gy-1">
    <div class="p2 col-md-6 col-12">
      <div class="static" style="height:400px;"></div>
    </div>
    <div class="p2 col-md-6 col-12">
      <div class="static" style="height:400px;"></div>
    </div>
  </div>

  {% else %}
  There are no galleries
  {% endif %}
</div>
