<div id="video-archive" class="swappable">

  {% if videos %}
  <div class="row gx-1 mt-1 video-page">

    <!-- A page of video teasers -->
    {% for video in videos %}
    {% include "archive/partials/teasers/_video-teaser.html" %}
    {% endfor %}

  </div>

  <!-- Infinite scroll -->
  {% if page_obj.has_next %}
  <div
    id="inf-scroll-trigger"
    hx-target="this"
    hx-trigger="revealed"
    hx-swap="outerHTML"
    hx-select=".video-page, #inf-scroll-trigger"
    hx-get="{% url 'archive:video' page_obj.next_page_number %}"
    hx-indicator="#inf-load-indicator"
    class="row">
  </div>
  {% endif %}

  <!-- loading indicators -->
  <div id="inf-load-indicator" class="row mt-1 gx-1">
    <div class="p2 col-md-4 col-12">
      <div class="static"></div>
    </div>
    <div class="p2 col-md-4 col-12">
      <div class="static"></div>
    </div>
    <div class="p2 col-md-4 col-12">
      <div class="static"></div>
    </div>
  </div>

  {% else %}
  There are no videos :(
  {% endif %}
</div>
